.footer{
    background: #1C1C26 0% 0% no-repeat padding-box;
    color: #fff;
    padding-top: 4%;
}
.footer .brand{
    width: 18%;
}
.footer .brand img{
    width: 4rem;
}
.footer ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer .links a{
    color: #fff;
    text-decoration: none;
    font: normal normal bold 15px/25px Lato
}