.tail .item1 .hoodImg{
    width: 100%;
height: 90px;
border-radius: 5px;
}
.tail h5{
    text-align: left;
font: normal normal 600 21px/39px Lato;
letter-spacing: 0px;
color: #1C1C26;
}
.tail{
    margin-top: 5%;
    margin-bottom: 5%;
}
.tail p{
    text-align: left;
font: normal normal normal 14px/22px Lato;
letter-spacing: 0px;
color: #888888;
}
.tail .container-fluid{
    padding-left: 0;
    padding-right: 0;
}
.tail .row{
    margin-left: 0;
}
.tail .row .col-md-4{
    margin-top: 4%;
}