.mapInfo {
  box-shadow: 0px 0px 10px #0000004d;
  border-radius: 10px;
  height: 392px;
  margin-top: 6%;
 }
.mapInfo .mapboxgl-control-container {
  display: none;
}
#map {
  height: 64%;
  width: 782px;
  position: absolute;
}
.mapInfo .mapboxgl-control-container {
  display: block;
}
.mapInfo .directions-icon,.mapInfo .mapbox-directions-instructions,.mapInfo .mapbox-directions-profile,
.mapInfo .mapbox-directions-component span{
  display: none !important;
} 

.map-overlay {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  position: absolute;
   width: 5%;
   z-index: 66666666666666666;
}

  .map-overlay h2,
  .map-overlay p {
      margin: 0 0 10px;
  }