.mapInfo {
  box-shadow: 0px 0px 10px #0000004d;
  border-radius: 10px;
  height: 392px;
  margin-top: 6%;
}
.mapInfo .mapboxgl-control-container {
  display: none;
}

.mapInfo .mapboxgl-control-container {
  display: block;
}
.mapInfo .directions-icon,
.mapInfo .mapbox-directions-instructions,
.mapInfo .mapbox-directions-profile,
.mapInfo .mapbox-directions-component span {
  display: none !important;
}

.map-overlay {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 5%;
  z-index: 66666666666666666;
}

.map-overlay h2,
.map-overlay p {
  margin: 0 0 10px;
}
/* 
  .map .mapFromTo{
    margin: 14px auto;
    height: 70px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 10px #00000029;
    border-radius: 50px;
    z-index: 3;
    position: relative;
  }
  .map .mapFromTo ul{
    list-style: none;
  }
  .map .mapFromTo ul li{
    display: inline-block;
    margin:20px 38px -3px 3px;
  }
  .map .mapFromTo ul li .from,.map .mapFromTo ul li .to{
    line-height: 8px;
  }
  .map .mapFromTo ul li .arrow{
    margin: -16px 0 0 0;
  }
  .map .mapFromTo ul li .from p,.map .mapFromTo ul li .to p{
text-align: left;
font: normal normal 500 15px/5px Lato;
letter-spacing: 0px;
color: #1C1C26;
  }
  .map .mapFromTo ul li .from span,.map .mapFromTo ul li .to span{
    text-align: left;
font: normal normal normal 13px/9px Lato;
letter-spacing: 0px;
color: #1C1B1B;
  }
  .map .distance img{
    width: 18px;
    height: 18px;
    margin-right: 21px;
  }
  .map .distance span{
    text-align: left;
font: normal normal 500 14px/20px Lato;
letter-spacing: 0px;
color: #313133;
  }
  .map .distanceRight{
    float: right;
  } 
   @media(max-width:1000px){
    .map .mapFromTo ul li {
      display: inline-block;
  }
    .map .mapFromTo ul li .from p,.map .mapFromTo ul li .to p{
      text-align: left;
      font: normal normal 500 14px/5px Lato;
      letter-spacing: 0px;
      color: #1C1C26;
        }
        .map .mapFromTo ul li .from span,.map .mapFromTo ul li .to span{
      font: normal normal normal 12px/9px Lato;
        }
        .map .distance img{
          width: 16px;
          height: 16px;
          margin-right: 11px;
        }
        .map .distance span{
      font: normal normal 500 13px/20px Lato;
        }
   }
   
   @media(max-width:830px){
    .map .mapFromTo ul li {
      display: inline-block;
   }
    .map .mapFromTo ul li .from p,.map .mapFromTo ul li .to p{
      text-align: left;
      font: normal normal 500 13px/3px Lato;
      letter-spacing: 0px;
      color: #1C1C26;
        }
        .map .mapFromTo ul li .from span,.map .mapFromTo ul li .to span{
      font: normal normal normal 10px/9px Lato;
        }
        .map .distance img{
          width: 14px;
          height: 14px;
          margin-right: 11px;
        }
        .map .distance span{
      font: normal normal 500 12px/20px Lato;
        }
        .map .mapFromTo ul li .arrow {
          margin: -19px 0 0 0;
          width: 72%;
      }
   }
   @media(max-width:750px){
    .map .mapFromTo ul li {
      display: inline-block;
      margin: 0px 11px -10px 11px
  }
  .map .from{
    margin: 22px 16px 20px 1px;
  }
  .map .to{
  margin: 26px 0px 20px 33px
  }
  .map .mapFromTo {
    margin: 14px auto;
    height: 88px;
   }
   .map .distanceRight {
    float: unset;
}
.map .distance{
  text-align: center;
  margin: 5px 27px 0px 55px;
}
  }
  @media(max-width:600px){
.map .container{
  width: 100% !important;
}
  }
  @media(max-width:600px){
    
.map .mapFromTo ul li {
  display: inline-block;
  margin: 0px 1px -11px -6px;
}
  }
  @media(max-width:426px){
.map .container{
  width: 100% !important;
}
.map .mapFromTo ul li {
  display: inline-block;
  margin: 0px 13px -11px -29px;
}
  }
  @media(max-width:415px){
    .map .mapFromTo ul li {
      display: inline-block;
      margin: 0px 0px -12px -8px;
  }
  .map .from {
    margin: 22px 11px 20px -15px;
}
.map .distance {
  text-align: center;
  margin: 5px 0px 0px 38px;
}
  }
  
  @media(max-width:360px){
    .map .mapFromTo ul li {
      display: inline-block;
      margin: 0px 0px -12px -8px;
  }
  .map .from {
    margin: 22px 11px 20px -24px;
}
.map .distance {
  text-align: center;
  margin: 5px 0px 0px 29px;
}
  }
  
  @media(max-width:320px){
    .map .mapFromTo ul li {
      display: inline-block;
      margin: 0px 0px -12px -8px;
  }
  .map .from {
    margin: 22px 13px 20px -37px;
}
.map .to {
  margin: 22px 20px 20px 14px;
}
.map .distance {
  text-align: center;
  margin: 5px 0px 0px 15px;
}
  }
  @media(max-width:280px){
    .map .mapFromTo ul li .from p, .map .mapFromTo ul li .to p {
      font: normal normal 500 11px/3px
  }
  .map .mapFromTo ul li .from span, .map .mapFromTo ul li .to span {
    font: normal normal 500 9px/3px
}
.map .mapFromTo ul li .arrow {
  margin: -9px -1px 0 -4px;
  width: 83%;
}
.map .container{
  width: 100% !important;
}
.map .to {
  margin: 22px 9px 20px 12px;
}
} */
.map .mapData {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 10px #00000029;
  z-index: 2;
  height: 73px;
  border-radius: 50px;
  margin: 1% 6%;
  width: 88%;
  position: absolute;
  padding: 12px 24px 12px 12px;
}
.map .from div:first-child {
  text-align: left;
  font: normal normal 500 15px/25px Lato;
  letter-spacing: 0px;
  color: #1c1c26;
}
.map .from div:last-child {
  text-align: left;
  font: normal normal normal 12px/18px Lato;
  letter-spacing: 0px;
  color: #1c1b1b;
}

.map .to div:first-child {
  text-align: left;
  font: normal normal 500 15px/25px Lato;
  letter-spacing: 0px;
  color: #1c1c26;
}
.map .to div:last-child {
  text-align: left;
  font: normal normal normal 12px/18px Lato;
  letter-spacing: 0px;
  color: #1c1b1b;
}
.map .mapData .img1 {
  margin: 17px 0px;
}
.map .distance {
  margin: 10px 5px;
  float: right;
}
.map .distance img {
  margin-left: -30%;
  margin-right: 13%;
}
.map .distance p{
  text-align: left;
font: normal normal 500 16px/22px Lato;
letter-spacing: 0px;
color: #1C1C26;
}
@media(max-width:992px){
  .map .mapData{
    padding: 12px 0px 12px 0px;
    width: 100%;
    margin: 10px auto;
  }
  .map .distance img{
    width: 20%;
  }
  .map .distance p{
    font: normal normal 500 15px/22px Lato;
  }
}
@media(max-width:768px){
  .map .from div:first-child {
    text-align: left;
    font: normal normal 500 13px/15px Lato;
    letter-spacing: 0px;
    color: #1c1c26;
}
.map .from div:last-child {
  text-align: left;
  font: normal normal normal 11px/29px Lato;
  letter-spacing: 0px;
  color: #1c1b1b;
}
.map .to div:first-child {
  text-align: left;
  font: normal normal 500 13px/15px Lato;
  letter-spacing: 0px;
  color: #1c1c26;
}
.map .to div:last-child {
text-align: left;
font: normal normal normal 11px/29px Lato;
letter-spacing: 0px;
color: #1c1b1b;
}
.map .mapData .img1 {
    margin: 16px 0px;
    width: 13px;
}
}
@media(max-width:575px){
  .map .distance {
    margin: -3% 41%;
}
.map .distance p {
  font: normal normal 500 13px/32px Lato;
}
}

@media(max-width:425px){
  .map .distance {
    margin: -8% 41%;
}
}

@media(max-width:415px){
  .map .from div:first-child {
    text-align: left;
    font: normal normal 500 12px/15px Lato;
    letter-spacing: 0px;
    color: #1c1c26;
}
.map .to div:first-child {
  text-align: left;
  font: normal normal 500 12px/25px Lato;
  letter-spacing: 0px;
  color: #1c1c26;
}
.map .distance p {
  font: normal normal 500 12px/10px Lato;
  margin: 20px 0;
}
.map .col-md-2{
  width: auto;
}
}
@media(max-width:375px){
  .map .from div:first-child {
    text-align: left;
    font: normal normal 500 12px/15px Lato;
    letter-spacing: 0px;
    color: #1c1c26;
}
.map .to div:first-child {
  text-align: left;
  font: normal normal 500 12px/25px Lato;
  letter-spacing: 0px;
  color: #1c1c26;
}
.map .distance p {
  font: normal normal 500 12px/10px Lato;
  margin: 20px 0;
}
.map .col-md-2{
  width: auto;
}
}

@media(max-width:360px){
  .map .from div:first-child {
    text-align: left;
    font: normal normal 500 12px/15px Lato;
    letter-spacing: 0px;
    color: #1c1c26;
}
.map .to div:first-child {
  text-align: left;
  font: normal normal 500 12px/25px Lato;
  letter-spacing: 0px;
  color: #1c1c26;
}
.map .distance p {
  font: normal normal 500 12px/10px Lato;
  margin: 9px 0;
}
.map .col-md-2{
  width: auto;
}
}

@media(max-width:320px){
  .map .mapData {
    padding: 8px 0px 11px 0px;
  }
  .map .from div:first-child {
    text-align: left;
    font: normal normal 500 11px/15px Lato;
    letter-spacing: 0px;
    color: #1c1c26;
}
.map .to div:first-child {
  text-align: left;
  font: normal normal 500 11px/25px Lato;
  letter-spacing: 0px;
  color: #1c1c26;
}
.map .distance p {
  font: normal normal 500 12px/10px Lato;
  margin: 9px 0;
}
.map .col-md-2{
  width: auto;
  height: 40px;
}
.map .from div:last-child {
  text-align: left;
  font: normal normal normal 10px/14px Lato;
  letter-spacing: 0px;
  color: #1c1b1b;
}
.map .to div:last-child {
  text-align: left;
  font: normal normal normal 10px/15px Lato;
  letter-spacing: 0px;
  color: #1c1b1b;
}
.map .distance p {
  font: normal normal 500 10px/45px Lato;
  margin: 9px 0;
}
.mapInfo {
  box-shadow: 0px 0px 10px #0000004d;
  border-radius: 10px;
  height: 392px;
  margin-top: 6%;
  width: 121%;
  margin-left: -10%;
}
}
@media(max-width:280px){
  .map .distance p {
    font: normal normal 500 10px/19px Lato;
    margin: 9px 0;
  }
}