.inspectPaid .logo svg {
  width: 15.25rem;
  margin-top: 15%;
}
.inspectPaid h1 {
   font: normal normal 900 60px/70px Lato;
  letter-spacing: 0px;
  color: #1c1c26;
  width: 95%;
  margin-top: 9%;
}
.inspectPaid p {
  font: normal normal 600 18px/23px Lato;
  letter-spacing: 0px;
  color: #1c1c26;
  margin-top: 5%;
  margin-bottom: 0;
}
.inspectPaid button {
  background: transparent linear-gradient(90deg, #0078d4 0%, #4498d4 100%) 0% 0%
    no-repeat padding-box;
  box-shadow: 0px 0px 10px #00000026;
  border-radius: 36px;
  font: normal normal 500 15px/29px Lato;
  letter-spacing: 0px;
  color: #FFFFFF;
  border: 0;
  padding: 0.7% 6%;
  margin-top: 6%;
}
