.navbar {
  background: #1c1c26 0% 0% no-repeat padding-box;
}
.navbar .logo img {
  width: 2rem;
}
.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
}
.navbar ul li a {
  font: normal normal 600 16px/0px Lato;
  letter-spacing: 0px;
  color: #ffffff;
  text-decoration: none;
}
@media (max-width: 425px) {
  .navbar .logo img {
    width: 2rem;
  }
  .navbar ul li a {
    font: normal normal 600 14px/0px Lato;
  }
}
@media (max-width: 286px) {
  .navbar .logo img {
    width: 1.5rem;
  }
  .navbar ul li a {
    font: normal normal 600 12px/0px Lato;
  }
}
@media (max-width: 264px) {
  .navbar .logo img {
    width: 1rem;
  }
  .navbar ul li a {
    font: normal normal 600 9px/0px Lato;
  }
}
