.successPayment {
  background: #f1f3f4 0% 0% no-repeat padding-box;
  padding-top: 5%;
  padding-bottom: 5%;
}
.successPayment .section1 .logo {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 5px;
  width: 209px;
  height: 96px;
  text-align: center;
  margin: 0 auto 45px auto;
}
.successPayment .data .success .msg {
  font: normal normal 600 38px/46px Lato;
  letter-spacing: 0px;
  color: #498205;
}
.successPayment .data .email p {
  letter-spacing: 0px;
  font-size: 18px;
  color: #1c1c26;
  margin-top: 3%;
}
.successPayment .data .invoiceNumber {
  font: normal normal 500 20px/24px Lato;
  letter-spacing: 0px;
  color: #1c1c26;
  margin-top: 3%;
}
.successPayment .section2 .showPdf {
  margin-top: 10%;
}
.successPayment .section2 .showPdf embed{
    width: 80%;
    height: 700px;
} 
@media(max-width:425px){
    .successPayment .data .success .msg {
        font: normal normal 600 29px/46px Lato;
        letter-spacing: 0px;
        color: #498205;
    }
    .successPayment .data .email p {
        letter-spacing: 0px;
        font-size: 16px;
        color: #1c1c26;
        margin-top: 6%;
    }
    .successPayment .data .invoiceNumber {
        font: normal normal 500 21px/24px Lato;
        letter-spacing: 0px;
        color: #1c1c26;
        margin-top: 6%;
    }

.successPayment .section2 .showPdf embed{
    height: 600px;
} 
}