.invoiceFooter {
  background: #f1f3f4 0% 0% no-repeat padding-box;
  border-radius: 0px 0px 5px 5px;
  opacity: 1;
  height: 70px;
  padding:29px 0px 0 52px;
}
.invoiceFooter p {
  text-align: left;
  font: normal normal 500 13px/15px Lato;
  letter-spacing: 0px;
  color: #888888;
}
@media(max-width:320px){
    .invoiceFooter{
        padding: 29px 0px 0 14px;
    }
}