.reportnavbar {
  background: transparent linear-gradient(266deg, #4498d8 0%, #0078d4 100%) 0%
    0% no-repeat padding-box;
  height: 80px;
}
.reportnavbar .logo {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 5px;
  border: 1px solid #707070;
  width: 155px;
  height: 55px;
}
.reportnavbar .container {
  padding-top: 11px;
  padding-bottom: 10px;
  display: flex;
}
.reportnavbar .container .name {
  margin-top: 1.3%;
  margin-left: 3%;
  text-align: left;
  font: normal normal 400 19px/28px Lato;
  letter-spacing: 0px;
  color: #ffffff;
  width: -webkit-fill-available;
  display: flex;
}
.reportnavbar .container .name img {
  width: 30px;
  height: 30px;
  margin-right: 1%;
}
.reportnavbar .container .btn button {
  background: #fcfcfc 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 2px #00000029;
  border-radius: 23px;
  width: 122px;
  height: 44px;
  border: 0;
  font: normal normal 400 16px/20px Lato;
  letter-spacing: 0px;
  color: #0078d4;
}
@media (max-width: 767px) {
  .reportnavbar .container .name {
    margin-top: 3%;
    font: normal normal 400 16px/19px Lato;
  }
  .reportnavbar .container .name img {
    width: 25px;
    height: 25px;
    margin-right: 1%;
  }
  .reportnavbar .logo {
    width: 155px;
    height: 50px;
  }
  .reportnavbar {
    height: 75px;
  }
  .reportnavbar .container .btn button {
    width: 111px;
    height: 40px;
    font: normal normal 400 15px/20px Lato;
  }
}
@media (max-width: 425px) {
  .reportnavbar .container .name {
    margin-top: 3%;
    font: normal normal 400 16px/19px Lato;
  }
  .reportnavbar .logo {
    width: 200px;
    height: 50px;
  }
  .reportnavbar .container .btn button {
    width: 100px;
    height: 38px;
    font: normal normal 400 14px/20px Lato;
  }
}
@media (max-width: 365px) {
  .reportnavbar .container {
    padding-right: 0px;
  }
  .reportnavbar .container .btn button {
    width: 88px;
    height: 35px;
    font: normal normal 400 13px/20px Lato;
  }
}
@media (max-width: 350px) {
  .reportnavbar .container .name {
    margin-top: 4%;
  }
  .reportnavbar .container .name {
    font: normal normal 400 14px/15px Lato;
    width: 122%;
  }
  .reportnavbar .container .btn button {
    width: 75px;
    height: 30px;
    font: normal normal 400 12px/20px Lato;
    margin-top: 5%;
  }
}
@media (max-width: 300px) {
  .reportnavbar .container .name {
    font: normal normal 400 12px/15px Lato;
    width: 150%;
    margin-top: 7%;
  }
  .reportnavbar .container .name img {
    width: 20px;
    height: 20px;
  }
  .reportnavbar .container .btn button {
    width: 70px;
    height: 30px;
    font: normal normal 400 12px/20px Lato;
    margin-top: 5%;
  }
}
